.window-style {
    -fx-background-color: #999;
}
.navbar-wrapper {
    -fx-background-color: #555;
    -fx-border-color: #787878;
    -fx-border-width: 0 0 3px 0;
}
.navbar-head-lbl, .navbar-btn, .navbar-arrow-btn {
    -fx-font-size: 30px;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}
.navbar-btn:hover, .navbar-arrow-btn:hover {
    -fx-opacity: .75;
    -fx-cursor: hand;
}
.navbar-btn, .navbar-arrow-btn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.navbar-arrow-btn {
    -fx-font-size: 34px;
}
.habitToggleBtn {
    -fx-text-fill: #eee;
    -fx-background-color: #FFFFFF80;
    -fx-border-radius: 0 100 100 0;
    -fx-background-radius: 0 100px 100 0;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 0;
    -fx-border-color: #888888;
    -fx-border-width: 2px 2px 2px 0;
}
.habitToggleBtn:hover {
    -fx-background-color: #666666;
    -fx-border-color: #888888B6;
    -fx-cursor: hand;
}

.btn {
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: 3px;
    -fx-font-size: 20px;
    -fx-padding: 0;
    -fx-border-radius: 5px;
    -fx-text-fill: #fff;
}
.btn:hover {
    -fx-cursor: hand;
    -fx-opacity: .8;
}