.habitLabel{
    -fx-background-color: #555;
    -fx-border-color: #787878;
    -fx-font-size: 30px;
    -fx-text-fill: #fff;
    -fx-alignment: center;
    -fx-font-weight: bold;
}

.newHabit{
    -fx-font-size: 15px;
    -fx-text-fill: #000;
    -fx-alignment: center;
}

.collapsedTitle{
    -fx-background-color: #555;
    -fx-border-color: #787878;
    -fx-font-size: 40px;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-alignment: center;
}


.button-check {
    -fx-border-width: 3px;
    -fx-border-radius: 50px;
    -fx-background-radius: 100px;
}
.button-check:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}
.container{
    -fx-border-color: #666;
    -fx-border-width: 0 0 2px 0;
}

.numbers{
    -fx-alignment: center_left;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.letters{
    -fx-alignment: center_right;
    -fx-font-weight: normal;
    -fx-font-size: 14px;
}

.title{
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.editButton{
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: 0px;
}


.editButton:hover, .habitBtn:hover {
    -fx-cursor: hand;
    -fx-opacity: .5;
}

.habitBtn {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}
.save-btn{
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: 2px;
    -fx-font-size: 10px;
    -fx-padding: 0;
    -fx-border-radius: 3px;
    -fx-text-fill: #fff;
}
.save-btn:hover, .add-habit-btn:hover {
    -fx-cursor: hand;
    -fx-opacity: .5;
}
.add-habit-btn {
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: 3px;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 0;
    -fx-border-radius: 5px;
    -fx-text-fill: #fff;
}
