.todo-title {

    -fx-background-color: #555;
    -fx-border-color: #787878;
    -fx-font-size: 30px;
    -fx-text-fill: #fff;
    -fx-alignment: center;
    -fx-font-weight: bold;
    
}

.todoBtn {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}

.todoBtn:hover {
    -fx-cursor: hand;
    -fx-opacity: .5;
}