.todo-title {
    -fx-background-color: #555;
    -fx-border-color: #787878;
    -fx-font-size: 30px;
    -fx-text-fill: #fff;
    -fx-alignment: center;
    -fx-font-weight: bold;
}
.todoBtn {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}
.todoBtn:hover, .add-todo-btn:hover {
    -fx-cursor: hand;
    -fx-opacity: .5;
}
.add-todo-btn {
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: 3px;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 0;
    -fx-border-radius: 5px;
    -fx-text-fill: #fff;
}